@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;900&display=swap");

* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  background-color: rgb(154, 255, 255);
  font-family: "Raleway", sans-serif;

  max-width: 600px;
  margin: auto;
}

header {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

  padding: 1rem;
  gap: 1rem;
}

h1 {
  width: 100%;
  text-align: center;
}

header p {
  font-size: 1.5rem;
}

main table {
  background-color: aqua;
  border-collapse: collapse;

  /* De esta forma el tamaño de la tabla se adapta a la pantalla, incluso al girar el movil */
  width: 90vmin;
  height: 90vmin;
  margin: auto;
}

main td {
  font-size: 10vmin;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);

  transition: opacity 250ms;

  /* Lo ideal sería calcular con js 100% dividido entre el tamaño (numero de celdas) */
  width: 20%;
  height: 20%;
}

/* Clase que tienen las casillas antes de clicarles */
td.hidden {
  /* Uso opacity para poder hacer transicion */
  opacity: 0;
}

#modal {
  /* De esta forma ocupa siempre toda la pantalla */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* Y si no cabe tiene su propio scroll */
  height: 100vh;
  overflow: auto;

  /* Fondo transparente, lo de detrás se ve borroso */
  background-color: rgba(255, 255, 255, 0.554);
  backdrop-filter: blur(2px);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 2rem;
}

#modal table {
  background-color: white;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 2rem;
}

#modal td,
th {
  padding: 0.5rem;
}

#modal td {
  border-bottom: 2px dotted black;
}

#modal td:last-child {
  text-align: right;
}

/* Clase que tiene el modal cuando no se debe ver */
#modal.closed {
  display: none;
}

tr.new {
  background-color: #00ffff;
  font-weight: bold;
}

#modal button {
  padding: 0.5rem 1rem;

  /* Al usar un degradado claro por arriba y oscuro por abajo, da efecto de relieve */
  background: rgb(0, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 255, 255, 1) 2%,
    rgba(0, 102, 102, 1) 100%
  );

  border-radius: 5px;

  color: white;
  font-weight: bold;
}

#modal button:active {
  /* Al darle la vuelta al degradado da el efecto de meterse hacia dentro */
  background: rgb(0, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 255, 255, 1) 2%,
    rgba(0, 102, 102, 1) 100%
  );
}

/* Si se gira la pantalla... */
@media (orientation: landscape) {
  body {
    padding: 1rem;
    display: flex;
    align-items: center;
  }
}

/* Versión desktop */
@media (min-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  main table {
    width: 550px;
    height: 550px;
  }

  main td {
    font-size: 4rem;
  }
}
